
version: '3.8'

services:
  redis-node1:
    image: redis:8.2
    container_name: redis-node1
    command: 
      - redis-server 
      - --cluster-enabled yes
      - --cluster-config-file nodes-1.conf
      - --cluster-node-timeout 5000
      - --appendonly yes
      - --port 6379
      - --cluster-announce-ip 192.168.6.215
      - --cluster-announce-port 7001
      - --cluster-announce-bus-port 7501
    ports:
      - "7001:6379"
      - "7501:16379"  # 集群总线端口
    volumes:
      - ./redis-data-1:/data
    restart: unless-stopped

  redis-node2:
    image: redis:8.2
    container_name: redis-node2
    command: 
      - redis-server 
      - --cluster-enabled yes
      - --cluster-config-file nodes-2.conf
      - --cluster-node-timeout 5000
      - --appendonly yes
      - --port 6379
      - --cluster-announce-ip 192.168.6.215
      - --cluster-announce-port 7002
      - --cluster-announce-bus-port 7502
    ports:
      - "7002:6379"
      - "7502:16379"
    volumes:
      - ./redis-data-2:/data
    restart: unless-stopped

  redis-node3:
    image: redis:8.2
    container_name: redis-node3
    command: 
      - redis-server 
      - --cluster-enabled yes
      - --cluster-config-file nodes-3.conf
      - --cluster-node-timeout 5000
      - --appendonly yes
      - --port 6379
      - --cluster-announce-ip 192.168.6.215
      - --cluster-announce-port 7003
      - --cluster-announce-bus-port 7503
    ports:
      - "7003:6379"
      - "7503:16379"
    volumes:
      - ./redis-data-3:/data
    restart: unless-stopped

# redis-cli --cluster create 192.168.6.215:7001 192.168.6.215:7002 192.168.6.215:7003 --cluster-replicas 0 --cluster-yes