global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 1m

scrape_configs:
- job_name: 'prometheus'
  static_configs:
    - targets: ['prometheus:9090']

- job_name: 'account-node'
  static_configs:
    - targets:
      - "192.168.6.215:6001" # account
      labels:
        zone_id: "215"
        instance_name: "account"
        server_type: account
  metric_relabel_configs:
  - source_labels: ['__name__']  # 可以用任意存在的 label 或 none
    target_label: project_name
    replacement: "ggd"

- job_name: 'avatar-node'
  static_configs:
    - targets:
      - "192.168.6.215:6101" # avatar1
      - "192.168.6.215:6102" # avatar2
      labels:
        zone_id: "215"
        instance_name: "avatar"
        server_type: "avatar"
  metric_relabel_configs:
  - source_labels: ['__name__']  # 可以用任意存在的 label 或 none
    target_label: project_name
    replacement: "ggd"

- job_name: 'world-node'
  static_configs:
    - targets:
      - "192.168.6.215:6201" # world1
      - "192.168.6.215:6202" # world2
      - "192.168.6.215:6203" # world3
      labels:
        zone_id: "215"
        instance_name: "world"
        server_type: "world"
  metric_relabel_configs:
  - source_labels: ['__name__']  # 可以用任意存在的 label 或 none
    target_label: project_name
    replacement: "ggd"

- job_name: 'performance-test'
  metrics_path: /metrics
  static_configs:
    - targets:
      - "192.168.6.216:6009" # 发压机1
      - "192.168.6.217:6009" # 发压机2
      labels:
        zone_id: "215"
        instance_name: "performance-test"
        server_type: "performance-test"
  metric_relabel_configs:
  - source_labels: ['__name__']  # 可以用任意存在的 label 或 none
    target_label: project_name
    replacement: "ggd"

- job_name: 'nats_exporter'
  static_configs:
    - targets: ['192.168.6.215:7777']
      labels:
        zone_id: "215"
        instance_name: "nats_exporter"
        server_type: "nats_exporter"
  metric_relabel_configs:
  - source_labels: ['__name__']  # 可以用任意存在的 label 或 none
    target_label: project_name
    replacement: "ggd"


# linux node 对应机器ip和端口
- job_name: 'linux-node'
  static_configs:
    - targets: ['192.168.6.215:9100']
      labels:
        zone_id: "215"
        instance_name: "linux-node"
        server_type: "linux-node"
  metric_relabel_configs:
  - source_labels: ['__name__']  # 可以用任意存在的 label 或 none
    target_label: project_name
    replacement: "ggd"


# - job_name: "mongodb-exporter"
#   static_configs:
#     - targets:
#       - mongodb://10.165.0.101:27017
#       - mongodb://10.165.0.102:27017
#       - mongodb://10.165.0.103:27017
#       - mongodb://10.165.0.101:50000
#       - mongodb://10.165.0.102:50000
#       - mongodb://10.165.0.103:50000
#       - mongodb://10.165.0.104:27017
#       - mongodb://10.165.0.105:27017
#       - mongodb://10.165.0.106:27017
#       - mongodb://10.165.0.107:27017
#       - mongodb://10.165.0.108:27017
#       - mongodb://10.165.0.109:27017
#       - mongodb://10.165.0.110:27017
#       - mongodb://10.165.0.111:27017
#       - mongodb://10.165.0.112:27017
#       labels:
#         region: cn-shanghai-2
#         cluster: ggd-dev-mongodb
#   metrics_path: /scrape
#   relabel_configs:
#     - source_labels: [__address__]
#       target_label: __param_target
#     - source_labels: [__param_target]
#       target_label: instance
#     - target_label: __address__
#       replacement: "127.0.0.1:9216"


